<h1>My Dashboard</h1>
<h1>all therapies</h1>
<% @therapies.each do |therapy| %>
  <%= therapy.animal.name %>
  <% date = therapy.end_on.mjd - therapy.start_on.mjd + 1  %>
  <%= therapy.price*date %>
<% end %>
<h1>all animals</h1>
<% @animals.each do |animal| %>
  <%= animal.name %>
<% end %>
  <%= link_to 'New Animal', new_animal_path(@animal)%>
