.dashboard-container {
  width: 70vw;
  margin: 0 auto;
}

.dashboard-heading h1 {
  text-align: left;
}

.dashboard-info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.dashboard-animal-info {
  margin: 0 auto;
}
