.dashboard-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90vw;
}

.dashboard-info {
  width: 90vw;
}

.divider {
  border-bottom: 2px solid rgba(230,230,230,0.5);
  width: 90vw;
  margin: 0 auto;
}

.animal-show-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.animal-show-link:hover {
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.animal-edit-link {
  position: absolute;
  bottom: 0;
  right: 28px;
  text-decoration: none;
}

.animal-delete-link {
  position: absolute;
  bottom: 0;
  right: 6px;
}

.animal-edit-icons {
  color: rgba(230,230,230,0.5);
  font-size: 16px;
}

.animal-edit-icons:hover {
  color: rgba(241, 115, 0, 0.8);
}