.dashboard-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90vw;
}

.dashboard-info {
  width: 90vw;
}

.divider {
  border-bottom: 2px solid rgba(230,230,230,0.5);
  width: 90vw;
  margin: 0 auto;
}
