.how-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#how {
  h2 {
    color: #F17300;
    font-weight: 700;
    text-align: center;
    }
}

.testimonials {
  background: #F17300;
  height: 300px;
  padding: 1px;

  .testimonial-quotes {
    color: white;
    text-align: center;
    font-weight: 600;
  }
}

.card-link {
  text-decoration: none;
}

