.testimonials {
  background: #F17300;
  padding: 1px;
  height: 200px;

  .testimonial-quotes {
    color: white;
    text-align: center;
    font-weight: 500;
  }
}

.card-link {
  text-decoration: none;
}

