.show-banner {
  display: flex;
  align-items: left;
  position: relative;
  background-size: cover;
  height: 80vh;
  background-position: center;
  // background-attachment: fixed;
  padding: 150px 0;

  h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 80px;
    font-weight: 900;
    text-align: center;
  }
}

.animal-container {
  display: flex;
  width: 70vw;
  margin: 0 auto;
}

.animal-heading h2 {
  text-align: left;
  font-style: bold;
  margin-bottom: 16px;
  color: #F17300;
}

.animal-info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background: #F4F4F4;
  padding: 32px;
  width: 100%;
}

.animal-details {
  width: 100%;
}


.therapies {
  border: 1px solid rgba(190,190,190,0.5);
  padding: 24px;
  width: 40%;
}

.therapy-price {
  padding: 8px;
  border-bottom: 1px solid rgba(190,190,190,0.5);
}

.therapy-dates {
  padding-top: 16px;
}

.therapy-charging-info {
  padding-top: 8px;
  text-align: center;
}
