.animal-container {
  display: flex;
  width: 60vw;
  margin: 0 auto;
}

.animal-heading h2 {
  text-align: left;
  font-style: bold;
  margin-bottom: 16px;
  color: #19535F;
}

.animal_info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background: #F4F4F4;
  padding: 32px;
}

.animal_details {
  margin: 0 auto;
}

.animal-species {
  margin-bottom: 16px;
}

.therapies {
  border: 1px solid rgba(190,190,190,0.5);
  padding: 24px;
  width: 40%;
}

.therapy-price {
  padding: 8px;
  border-bottom: 1px solid rgba(190,190,190,0.5);
}

.therapy-dates {
  padding-top: 16px;
}

.therapy-charging-info {
  padding-top: 8px;
  text-align: center;
}
