<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/charmdev/image/upload/v1566800613/TherAnimal/therapypug.jpg);">
  <div class="banner-text">
    <h1>TherAnimal - Therapy Animals for Hire</h1>
    <p>If you feel like I look, we can help!</p>
    <a class="btn btn-flat" href="#">Sign In</a>
  </div>
</div>
