<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/charmdev/image/upload/v1566800613/TherAnimal/therapypug.jpg);">
  <div class="banner-text-box">
    <h1>Therapy Animals for Hire</h1>
    <p>If you feel the way he looks, we can help!</p>
      <%= link_to 'See Animals', animals_path, class: "btn btn-flat" %>
  </div>
</div>

