<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/du7l2fe4u/image/upload/v1569983927/banner_1_kgdloe.jpg);">
  <div class="container">
    <div class="banner-text-box">
      <%# <h1>If you feel the way he looks, we can help!</h1> %>
    </div>
  </div>
</div>
