<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/du7l2fe4u/image/upload/v1567041184/therapypug_nnngao.jpg);">
  <div class="container">
    <div class="banner-text-box">
      <h1>Therapy Animals for Hire</h1>
      <p>If you feel the way he looks, we can help!</p>
        <div class="banner-button">
          <%= link_to 'Discover Our Animals', animals_path, class: "btn-flat" %>
        </div>
    </div>
  </div>
</div>
