<%= stylesheet_link_tag 'kitchen_sink', media: 'all' %>

<div class="container">
  <h1>TherAnimal UI Kit</h1>

  <!-- Alert -->
<div>
  <h3>Alerts</h3>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to TherAnimal</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
    <span><strong>Mmh</strong> 🤔 seems like you don't have <a href="#">profile picture</a> yet.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span><strong>Oops!</strong> 😱 a problem has occurred while processing your booking.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>

<!-- Avatar -->
<div>
  <h3>Avatars</h3>
  <img class="avatar" alt="avatar" src="https://res.cloudinary.com/charmdev/image/upload/v1566800790/cat.jpg" />
  <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/charmdev/image/upload/v1566800790/cat.jpg" />
  <img class="avatar-bordered" alt="avatar-bordered" src="https://res.cloudinary.com/charmdev/image/upload/v1566800790/cat.jpg" />
  <img class="avatar-square" alt="avatar-square" src="https://res.cloudinary.com/charmdev/image/upload/v1566800790/cat.jpg" />
</div>

<!-- Banner -->
<div>
  <h3>Banner</h3>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/charmdev/image/upload/v1566800613/TherAnimal/therapypug.jpg);">
    <div class="container">
      <h1>TherAnimal - therapy animals for hire!</h1>
      <p>Find your animal companion for what you need most.</p>
      <a class="btn btn-flat" href="#">Sign In</a>
    </div>
  </div>
</div>

<!-- buttons -->
<a class="btn btn-ghost" href="#">Write a story</a>
<a class="btn btn-flat" href="#">Book now</a>
<a class="btn btn-gradient" href="#">Start now</a>

<!-- Navbar -->
  <div>
    <h3>Navbar</h3>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="#">
        <img src="https://res.cloudinary.com/charmdev/image/upload/v1566800611/TherAnimal/animal-therapy.png" />
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/charmdev/image/upload/v1566800790/cat.jpg" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

  <!-- search form -->
  <h2>Search Form</h2>
  <div>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
</div>


  <!-- cards -->


  <!-- sign up -->


  <!-- login -->


  <!-- avatar -->

</div>
