<div class="container d-flex justify-content-between my-5">
  <div class="card-deck">
    <% @animals.each do |animal| %>
      <div class="card" style="box-shadow: 5px 10px 20px rgba(200,200,200,0.5)">
        <%= cl_image_tag animal.photo, height: 250, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= animal.name %></h5>
          <p class="card-text"><%= animal.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= link_to 'More info', animal_path(animal)%></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
