<div class="form-container">
  <div class="form_info">
    <div class="form-heading"><h3>Add your animal and help someone</h3>
    <%= render 'form', animal: @animal %>
    </div>
  </div>
  <div class="form-image">
    <%= cl_image_tag('https://res.cloudinary.com/du7l2fe4u/image/upload/v1567045906/form_image_kkeko1.jpg') %>
  </div>
</div>
