<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3>Add your animal to help people fell better</h3>
        <%= render 'form', animal: @animal %>
    </div>
  </div>
</div>
