<div class="container form-container">
  <div class="form_info">
    <div class="form-heading"><h3>Add your animal and help someone</h3>
    <%= render 'form', animal: @animal %>
    </div>
  </div>
  <div class="form-image">
    <%= cl_image_tag('https://images.unsplash.com/photo-1521673461164-de300ebcfb17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') %>
  </div>
</div>
