<div class="form-container">
  <div class="form_info">
    <div class="form-heading"><h3>Edit your therapy</h3>
      <%= render 'form', therapy: @therapy, animal: @animal %>
    </div>
  </div>
</div>
