<div class="form-container">
  <div class="form_info">
    <div class="form-heading"><h3>Edit your therapy</h3>
      <%= render 'form', therapy: @therapy, animal: @animal %>
    </div>
  </div>
  <div class="form-image">
    <img src="https://cdn.dribbble.com/users/3809802/screenshots/6862464/tasks_i_2x.png" alt="">
  </div>
</div>
