<div class="container">
  <h1> <%= @therapy.animal.name %></h1>
    <% date = @therapy.end_on.mjd - @therapy.start_on.mjd + 1  %>
    <%= @therapy.price*date %>
    <%= link_to 'Edit', edit_animal_therapy_path(@therapy) %>
    <%= link_to 'Delete', animal_therapy_path(@therapy), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
