.form-container {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px 0;
  margin: 0 auto;
}

.form_info {
  position: relative;
  padding: 32px;
}

.form-heading h3 {
  text-align: left;
  font-style: bold;
  margin-bottom: 24px;
}

.form-image {
  opacity: 0.8;
}

@media(max-width: 992px) {
  .form-image {
    display: none;
  }
}

@media(max-width: 768px) {
  .form-image {
    display: none;
  }
}

