.banner {
  display: flex;
  align-items: left;
  position: relative;
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding: 150px 0;

  h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 78px;
    font-weight: 900;
    text-align: center;
  }
}

.banner-text-box {
  position: relative;
  width: 100%;
  margin-left: 0;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-button {
  margin-top: 40px;
}

.btn-flat {
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
  background: #F17300;
}

.btn-flat:hover {
  color: black;
  background: white;
  text-decoration: none;
  border: 2px solid black;
}

.btn-flat-outline {
  color: #19535F;
  border: 1px solid #19535F;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  padding: 16px 24px;
}

.btn-flat-outline:hover {
  color: white;
  background: #0B7A75;
  text-decoration: none;
}
