.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  margin-top: 60px;
  grid-gap: 24px;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 20px;
  margin: 80px;
}
