.card-trip {
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip:hover {
  transform: translateY(5px);
}

.card-trip-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  color: #F17300;
  font-size: 20px;
  font-weight: bold;
}

.card-trip p {
  font-size: 12px;
  font-weight: 500;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.heart-icon {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #F17300;
  font-size: 24px;
}

.heart-icon:hover {
  color: #F17300;
}

