.card-therapy {
  overflow: hidden;
  min-height: 240px;
  max-width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
}

.card-therapy:hover {
  transform: translateY(5px);
}

.card-therapy-image {
  height: 100%;
  width: 30%;
}

.card-therapy h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: #000000;
}

.card-therapy h3 {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  color: #F17300;
}

.card-therapy .card-therapy-infos {
  padding: 16px;
}

.card-therapy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.therapy-edit-link {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.therapy-delete-link {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.new-review-link {
  position: absolute;
  bottom: 10px;
  right: 68px;
}

.therapy-edit-icons {
  color:  rgba(241, 115, 0, 0.7);
  font-size: 16px;
}

.therapy-edit-icons:hover {
  color: rgba(241, 115, 0, 0.9);
}

@media(max-width: 992px) {
  .card-therapy-image {
    display: none;
  }
}

@media(max-width: 768px) {
  .card-therapy-image {
    display: none;
  }
}
