.how-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 1;
    grid-gap: 24px;
}
  
@media(max-width: 992px) {
    .how-cards {
      grid-template-columns: 1fr 1fr;
    }
}
  
@media(max-width: 768px) {
    .how-cards {
      grid-template-columns: 1fr;
    }
}

#how {
    h2 {
        color: #F17300;
        font-weight: 700;
        text-align: center;
        }
}

.how-card {
    border-radius: 8px;
    border: 1px solid #f17200;
    text-align: center;
    padding: 16px;

    .how-img {
        width: 60px;
    }
    .how-title {
        color: #F17300;
        font-weight: 600;
    }

    .how-body {
        margin-bottom: 32px;
        font-weight: 500;
    }

    .how-btn {
        background: #F17300;
        padding: 13px 24px;
        border-radius: 24px;
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

    .how-btn:hover {
        background: white;
        color: black;
        border: 2px solid black;
        font-weight: 600;
    }
}

.how-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}