.card-container {
  display: flex;
}

#map {
  width: 80vw;
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapboxgl-canvas {
  position: sticky !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
