.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  border-bottom: 2px solid rgba(230,230,230,0.5);
  background: #ffffff;
  padding: 16px;

  .brand-name {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    font-size: 28px;
    color: #F17300;
    text-decoration: none;
  }

  .nav-link {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    color: #000000;  
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 175px;
  }

  .avatar {
    border-radius: 50%;
  }
}
