.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  border-bottom: 2px solid rgba(230,230,230,0.5);
  font-size: 14px;
  color: black;
  padding: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 175px;
}
